<div class="sv-content-main">
  {% include 'file_text_long' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
  {% include 'block_img_4_3_caption' %}
</div>
