<div class="sv-navigation">
  <div class="sv-navigation-inner">
    <div class="sv-navigation-home">
      <ul>
        <li>
          <a href="">
            <img src="" alt="" class="sv-navigation-logo">
            <span>Site Name</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sv-navigation-links">
      <ul>
        <li><a href="">Item 1</a></li>
        <li><a href="">Item 2</a></li>
        <li><a href="">Item 3</a></li>
      </ul>
    </div>
  </div>
</div>
