<div class="sv-layout-section sv-sidenav">
  <ul>
    <li class="sv-sidenav-header sv-sidenav-current-page"><a href="">Item 1</a></li>
    <li><a href="">Item 1</a></li>
    <li><a href="">Item 2</a></li>
    <li><a href="">Item 3</a></li>
  </ul>
  {% include 'ui_expansion' %}
</div>
