<div class="sv-layout-section sv-navigation sv-is-closed">
  <a class="sv-navigation-column sv-navigation-home" href="">
      <img src="_assets/images/_placeholder-1-1.svg" alt="logo" class="sv-navigation-logo">
      <span class="sv-navigation-link sv-navigation-sitename">Site Name</span>
      {% include 'ui_expansion' %}
  </a>
  <div class="sv-navigation-column sv-navigation-links">
    <div class="sv-navigation-link">
      <a href="">Item 1</a>
    </div>
    <div class="sv-navigation-link">
      <a href="">Item 2</a>
    </div>
    <div class="sv-navigation-link">
      <a href="">Item 3</a>
    </div>
  </div>
</div>
