<div class="sv-layout-section sv-navigation">
  <a class="sv-navigation-column sv-navigation-home" href="">
    <!-- <a href=""> -->
      <img src="_assets/images/_placeholder-1-1.svg" alt="logo" class="sv-navigation-logo sv-navigation-link">
      <span class="sv-navigation-link">Site Name</span>
    <!-- </a> -->
  </a>
  <div class="sv-navigation-column sv-navigation-links">
    <div class="sv-navigation-link">
      <a href="">Item 1</a>
    </div>
    <div class="sv-navigation-link">
      <a href="">Item 2</a>
    </div>
    <div class="sv-navigation-link">
      <a href="">Item 3</a>
    </div>
  </div>
</div>
