.sv-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
   "navigation"
   "siteinfo"
   "sidenav"
   "contentmain";
}

.sv-layout-section {
  display: grid;
  padding: ($gutter-sm / 2) $gutter-sm;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    overflow: visible;
  }
}

.sv-navigation {
  grid-area: navigation;
  border-bottom: $border-default;

  @include media-breakpoint-up(sm) {
    border-bottom: 0;
  }
}

.sv-siteinfo {
  grid-area: siteinfo;
}

.sv-sidenav {
  grid-area: sidenav;
  grid-template-columns: 1fr auto;
  height: $nav-height;
  border-bottom: $border-default;

  @include media-breakpoint-up(sm) {
    height: auto;
    border-bottom: 0;
  }

  .sv-sidenav-header {
    display: flex;

    &::before {
      content: "Page: ";
      margin-right: $space-xs;
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  .sv-ui-expansion {

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  // open and close sidenav
  &.sv-is-open {
    height: auto;
  }

  &.sv-is-closed {
    height: $nav-height;
  }
}

.sv-content-main {

  grid-area: contentmain;
  display: grid;
  grid-column-gap: $gutter-sm;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: auto;
  // grid-gap: $gutter-sm;
  // object-fit: cover;


  .sv-block {
    // grid-area: block;
    // width: auto;
    // display: inline-grid;
  }
}
