.sv-navigation {
  height: $nav-height;
  grid-template-areas:
  "navhome navlinks navlinks";

  .sv-navigation-column {
    display: flex;
    align-items: center;

    .sv-navigation-link + .sv-navigation-link {
      margin-left: $gutter-sm;
    }
  }

  .sv-navigation-home {
    grid-area: navhome;

    img.sv-navigation-logo {
      height: $nav-logo-size;
      width: $nav-logo-size;
      border-radius: $nav-logo-radius;
    }
  }

  .sv-navigation-links {
    grid-area: navlinks;
    justify-content: flex-end;
  }
}
