// theme: slideshow

.sv-theme-slideshow {

  .sv-content-main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

// theme: document
$document-sidebar-unit-height: calc(50vh - (#{$nav-height} / 2));
$sidebar-width: 25%;
$navigation-items-alignment: end;

.sv-theme-document {

  .sv-layout {
    // grid-template-areas:
    //  "navigation"
    //  "siteinfo"
    //  "sidenav"
    //  "contentmain";
     // grid-template-columns: 100%;
    // grid-template-rows: $nav-height $document-sidebar-unit-height $document-sidebar-unit-height;
    // grid-auto-rows: minmax(100px, 100vh);

    @include media-breakpoint-up(sm) {
      grid-template-areas:
       "navigation navigation"
       "siteinfo contentmain"
       "sidenav contentmain"
       ". contentmain";
      grid-template-columns: $sidebar-width auto;
    }
  }

  .sv-siteinfo {

    @include media-breakpoint-up(sm) {
      height: $document-sidebar-unit-height;
    }
  }

  .sv-sidenav {

    @include media-breakpoint-up(sm) {
      align-items: $navigation-items-alignment;
      height: $document-sidebar-unit-height;
    }

    li {
      margin-bottom: $space-xxs;
    }
  }

  .sv-content-main {


    @include media-breakpoint-up(sm) {
      grid-template-columns: $text-column-width;
    }
  }
}
