
/*
// global variables
*/

// breakpoints
$screen-xs-min:                          0 !default;
$screen-sm-min:                          576px !default;
$screen-md-min:                          768px !default;
$screen-lg-min:                          1200px !default;
$screen-xl-min:                          1500px !default;
$screen-xxl-min:                         1800px !default;

// color
$color-black: #000;
$color-gray: gray;

// layout
$gutter-xs: 10px;
$gutter-sm: 20px;

$text-column-width: 55%;

// typography
$font-size-base:    20px;

$font-size-xs-sm:   15px;
$font-size-sm:      15px;
$font-size-xs-md:   $font-size-base;
$font-size-md:      $font-size-base;
$font-size-xs-lg:   30px;
$font-size-lg:      30px;
$font-size-xs-xl:   60px;
$font-size-xl:      60px;

$line-height-base: 1.5;

$font-color-base: $color-black;
$font-color-disabled: $color-gray;

// navigation
$nav-height: 50px;
$nav-logo-size: 30px;
$nav-logo-radius: 9999999px;

/*
// imports
*/

// development tools
@import 'scss/development';

// libraries
@import 'scss/lib_normalize';

// global
@import 'scss/global_typography';
@import 'scss/global_layout';
@import 'scss/global_nav';

// themes
@import 'scss/theme_document';
@import 'scss/theme_feed';
@import 'scss/theme_slideshow';

// sv custom defaults
@import 'scss/sv_custom_document';
@import 'scss/sv_custom_feed';
@import 'scss/sv_custom_slideshow';

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;

  .touch & {
    cursor: pointer;

    div {
      cursor: pointer;
    }
  }
}

::selection {
  background: red;
}

@media print {
  .no-print {
    display: none;
  }
}

// blame
.sv-badge {
  display: none;
}
